coverage/
# dependencies
node_modules/

# env files
.env
.env.*
!.env.example
!**/.env.example

# build files
dist/
build/
coverage/
.sonar/

# logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# temp files
.tmp/

# Temporary local file uploads
temp_uploads/

*.zip

